@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: #dbdbdb;
}

body {
    color: rgb(var(--foreground-rgb));
    min-height: 100vh;
    background-color: rgb(var(--background-start-rgb));
}
